@font-face {
    font-display: fallback;
    font-family: 'PFDC';
    src: url('../fonts/PFD/PFDinTextCondPro-Bold.woff2') format('woff2');
     //     url('../fonts/PFD/PFDinTextCondPro-Bold.ttf') format('ttf'),
     //     url('../fonts/PFD/PFDinTextCondPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
     font-display: fallback;
     font-family: 'PFD';
     src: url('../fonts/PFD/PFDinTextPro-Light.woff2') format('woff2');
     //     url('../fonts/PFD/PFDinTextPro-Light.ttf') format('ttf'),
     //     url('../fonts/PFD/PFDinTextPro-Light.woff') format('woff');
     font-weight: 300;
     font-style: normal;
}
@font-face {
     font-display: fallback;
     font-family: 'PFD';
     src: url('../fonts/PFD/PFDinTextPro-Regular.woff2') format('woff2');
     //     url('../fonts/PFD/PFDinTextPro-Regular.ttf') format('ttf'),
     //     url('../fonts/PFD/PFDinTextPro-Regular.woff') format('woff');
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-display: fallback;
     font-family: 'PFD';
     src: url('../fonts/PFD/PFDinTextPro-Medium.woff2') format('woff2');
     //     url('../fonts/PFD/PFDinTextPro-Medium.ttf') format('ttf'),
     //     url('../fonts/PFD/PFDinTextPro-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
}